In [7]:
import os
import sys

if "ORIGINAL_WORKING_DIRECTORY" not in globals():
    ORIGINAL_WORKING_DIRECTORY = os.getcwd()

current_directory = os.getcwd()
parent_directory = os.path.dirname(current_directory)
os.chdir(parent_directory)
sys.path.insert(0, os.getcwd())

import pandas as pd
from modules.data_processing.data_processor import ExperimentProcessor
from modules.data_processing.data_loader import load_and_process_data, get_data

In [8]:
get_data()

,event_name,item_id,timestamp,site,experiments,user_id
0,SEARCH,NaN,2021-08-02T23:55:38.966-0400,MLA,"{searchbackend/recommended-products=6157, mcli...",3204901
1,PRODUCT,882352139.0,2021-08-02T23:55:51.673-0400,MLA,"{qadb/sa-on-vip=6695, vip/showV2V3BoxMessages=...",3204901
2,PRODUCT,655266729.0,2021-08-02T23:56:16.083-0400,MLA,"{qadb/sa-on-vip=6695, vip/showV2V3BoxMessages=...",3204901
3,PRODUCT,761520929.0,2021-08-02T23:56:29.989-0400,MLA,"{search/remove-ecn-tag=4954, qadb/sa-on-vip=66...",3204901
4,PRODUCT,757586409.0,2021-08-02T23:56:47.887-0400,MLA,"{search/remove-ecn-tag=4954, qadb/sa-on-vip=66...",3204901
...,...,...,...,...,...,...
141548,SEARCH,NaN,2021-08-01T15:03:03.990-0400,MLA,"{searchbackend/recommended-products=6157, mcli...",6371324
141549,PRODUCT,242137929.0,2021-08-01T17:49:02.749-0400,MLA,{cookiesConsentBanner=DEFAULT},177195
141550,SEARCH,NaN,2021-08-01T13:16:31.934-0400,MLA,"{searchbackend/recommended-products=6157, mcli...",4890023
141551,SEARCH,NaN,2021-08-01T13:16:51.309-0400,MLA,"{search/remove-ecn-tag=4954, searchbackend/rec...",8959381
141552,SEARCH,NaN,2021-08-01T13:16:50.939-0400,MLA,"{searchbackend/recommended-products=6157, mcli...",4890023

In [9]:
data = pd.read_csv('./data/raw_data/experiments_dataset.csv')
processor = ExperimentProcessor(data)

In [10]:
data.head()

,event_name,item_id,timestamp,site,experiments,user_id
0,SEARCH,NaN,2021-08-02T23:55:38.966-0400,MLA,"{searchbackend/recommended-products=6157, mcli...",3204901
1,PRODUCT,882352139.0,2021-08-02T23:55:51.673-0400,MLA,"{qadb/sa-on-vip=6695, vip/showV2V3BoxMessages=...",3204901
2,PRODUCT,655266729.0,2021-08-02T23:56:16.083-0400,MLA,"{qadb/sa-on-vip=6695, vip/showV2V3BoxMessages=...",3204901
3,PRODUCT,761520929.0,2021-08-02T23:56:29.989-0400,MLA,"{search/remove-ecn-tag=4954, qadb/sa-on-vip=66...",3204901
4,PRODUCT,757586409.0,2021-08-02T23:56:47.887-0400,MLA,"{search/remove-ecn-tag=4954, qadb/sa-on-vip=66...",3204901

### Exclude events (BUY, CHECKOUT_1, CHECKOUT_2, CHECKOUT_3)

The following code shows that these events do not contain variants in their labels, so they are not considered experiments.

In [11]:
non_experiments = processor.get_non_experiments_data()
non_experiments.groupby(["event_name", "experiment_name", "variant_id"]).size()

event_name  experiment_name         variant_id
BUY         buyingflow/address_hub  3574           922
            buyingflow/secure_card  4612            31
            buyingflow/user-track   6796          1088
CHECKOUT_1  buyingflow/escWebMLA    2874          1607
            buyingflow/user-track   6796          2115
CHECKOUT_2  buyingflow/address_hub  3574          1196
            buyingflow/escWebMLA    2874             2
            buyingflow/user-track   6796          1786
CHECKOUT_3  buyingflow/address_hub  3574          1270
            buyingflow/user-track   6796          1270
dtype: int64

### Experiments in different events

There are three experiments in diferent events.

In [12]:
from datetime import datetime

experiments_df = processor.get_experimets_data()
experiments_df["timestamp"] = pd.to_datetime(experiments_df["timestamp"])
experiments_df["date"] = experiments_df["timestamp"].dt.date
filter_date = datetime.strptime("2021-08-02", "%Y-%m-%d")

In [13]:
filtered_data = experiments_df[experiments_df["date"] == filter_date.date()]
filtered_data.groupby(["experiment_name"])["event_name"].nunique().reset_index(name="num_events").sort_values(by="num_events", ascending=False).head(3)

                experiment_name  num_events
0          cookiesConsentBanner           2
2   frontend/assetsCdnDomainMLA           2
25        search/remove-ecn-tag           2

In [7]:
filtered_data[~filtered_data["experiment_name"].isin(["cookiesConsentBanner","frontend/assetsCdnDomainMLA", "search/remove-ecn-tag"])].head()

,event_name,item_id,timestamp,experiment_name,variant_id,user_id,date
0,SEARCH,NaN,2021-08-02 23:55:38.966000-04:00,searchbackend/recommended-products,6157,3204901,2021-08-02
1,SEARCH,NaN,2021-08-02 23:55:38.966000-04:00,mclics/ads-adsearch-boost-incremental-desktop-mla,3809,3204901,2021-08-02
2,SEARCH,NaN,2021-08-02 23:55:38.966000-04:00,searchbackend/cbt-antiboost,6333,3204901,2021-08-02
3,SEARCH,NaN,2021-08-02 23:55:38.966000-04:00,search/back-filters,5059,3204901,2021-08-02
4,SEARCH,NaN,2021-08-02 23:55:38.966000-04:00,filters/sort-by-ranking,7057,3204901,2021-08-02

### Duplicate users (independence)

There isn't independence in some experiments, there are clients  who are in more than one variant, which generates a lack of idependence in the experiment

In [18]:
independence_df = filtered_data.groupby(["user_id", "experiment_name"])["variant_id"].nunique().reset_index(name="variants").sort_values(by="variants", ascending=False)
independence_df[independence_df["variants"] > 1]

        user_id                                 experiment_name  variants
50888    854874                         filters/sort-by-ranking         3
49907    837567                         filters/sort-by-ranking         3
67002   2211591                 vip/carousel-v2p-above-the-fold         3
81536   4150112                 vip/carousel-v2p-above-the-fold         3
25877    384897                 vip/carousel-v2p-above-the-fold         3
...         ...                                             ...       ...
67004   2211591  vip/shippingCalculatorMigrationModalExperiment         2
65          208                 vip/carousel-v2p-above-the-fold         2
34976    556518          searchbackend/seller-reputation-change         2
103031  7161251                         filters/sort-by-ranking         2
58859   1095201                         filters/sort-by-ranking         2

[753 rows x 3 columns]

In [21]:
def check_user_independence(data):
    experiment_variants = data.groupby(
        ["user_id", "experiment_name"]
    )["variant_id"].nunique()
    independent = all(experiment_variants == 1)
    return independent, experiment_variants

In [22]:
check_user_independence(filtered_data[filtered_data["experiment_name"] == "filters/sort-by-ranking"])

(False,
 user_id  experiment_name
 59       filters/sort-by-ranking    1
 159      filters/sort-by-ranking    1
 208      filters/sort-by-ranking    1
 281      filters/sort-by-ranking    1
 311      filters/sort-by-ranking    1
                                    ..
 9977516  filters/sort-by-ranking    1
 9982841  filters/sort-by-ranking    1
 9990293  filters/sort-by-ranking    1
 9990751  filters/sort-by-ranking    1
 9992552  filters/sort-by-ranking    1
 Name: variant_id, Length: 5629, dtype: int64)

### Duplicate users in same variant

If the client is in the same experiment, it should be considered only once, avoiding inflating data.

In [47]:
duplicates = filtered_data.groupby(["user_id", "experiment_name", "variant_id"])["event_name"].count().reset_index(name="variants").sort_values(by="variants", ascending=False)
duplicates[duplicates["variants"] > 1]

       user_id                   experiment_name variant_id  variants
79829  3825011              cookiesConsentBanner    DEFAULT       541
79844  3825011             search/remove-ecn-tag       4954       487
39229   629742              cookiesConsentBanner    DEFAULT       429
49593   828076              cookiesConsentBanner    DEFAULT       371
3040     23982              cookiesConsentBanner    DEFAULT       344
...        ...                               ...        ...       ...
79779  3800731             search/remove-ecn-tag       4954         2
10570    98037   vip/carousel-v2p-above-the-fold       6787         2
30621   473751  pdp/viewItemPageMigrationReturns       5208         2
77922  3572681             search/remove-ecn-tag       4954         2
55729   942428     searchbackend/item-reputation       3824         2

[93024 rows x 4 columns]

In [30]:
import requests
from urllib.parse import quote

# Definir el ID del experimento y la fecha en el código
experiment_id = "filters/sort-by-ranking"
day = "2021-08-02 00"

# Codificar el experiment_id para que sea seguro en la URL
encoded_experiment_id = quote(experiment_id, safe='')

# Definir la URL del endpoint de la API
url = f"http://127.0.0.1:5001/experiment/{encoded_experiment_id}/result"
print(f"Request URL: {url}")

# Definir los parámetros de la solicitud
params = {
    "day": day
}

# Realizar la solicitud GET
response = requests.get(url, params=params)

# Imprimir la URL y el contenido de la respuesta antes de intentar convertirlo a JSON
print(f"Response Status Code: {response.status_code}")
print(f"Response Content: {response.text}")

# Imprimir el resultado
try:
    response.raise_for_status()  # Esto lanzará una excepción para códigos de estado HTTP 4xx/5xx
    data = response.json()
    print("API Response:")
    print(data)
except requests.exceptions.HTTPError as errh:
    print("Http Error:", errh)
except requests.exceptions.ConnectionError as errc:
    print("Error Connecting:", errc)
except requests.exceptions.Timeout as errt:
    print("Timeout Error:", errt)
except requests.exceptions.RequestException as err:
    print("OOps: Something Else", err)
except ValueError as err:
    print("Error decoding JSON:", err)

Request URL: http://127.0.0.1:5001/experiment/filters%2Fsort-by-ranking/result
Response Status Code: 200
Response Content: {
  "results": {
    "filters/sort-by-ranking": {
      "checks": {
        "experiment_independence": true,
        "num_of_variants": 3,
        "sample_size_adequacy": {
          "6971": true,
          "6972": true,
          "7057": true
        },
        "user_independence": false,
        "variations": {
          "6971": 0.08242846256770704,
          "6972": 0.09327716262975778,
          "7057": 0.08034954594907258
        }
      },
      "number_of_participants": 4972,
      "statistical_tests": {
        "anova": {
          "f_value": 1.4728887568743896,
          "p_value": 0.22935957817214545
        },
        "chi_square": {
          "chi2": 2.945808759655443,
          "p_value": 0.22925866306676915,
          "significant_difference": false
        },
        "pairwise_comparisons": [
          {
            "effect": 0.0025314315697384238,
            "p_value": 0.7955872106561199,
            "variant1": "7057",
            "variant2": "6971"
          },
          {
            "effect": 0.01600410477615055,
            "p_value": 0.11392687185731876,
            "variant1": "7057",
            "variant2": "6972"
          },
          {
            "effect": 0.013472673206412128,
            "p_value": 0.18405781482929817,
            "variant1": "6971",
            "variant2": "6972"
          }
        ],
        "tukey_hsd": [
          [
            "6971",
            "6972",
            0.0135,
            0.3685,
            -0.01,
            0.0369,
            false
          ],
          [
            "6971",
            "7057",
            -0.0025,
            0.9653,
            -0.026,
            0.0209,
            false
          ],
          [
            "6972",
            "7057",
            -0.016,
            0.248,
            -0.0395,
            0.0075,
            false
          ]
        ],
        "variant_results": {
          "6971": {
            "ci": [
              0.07708070917071888,
              0.10420923853410391
            ],
            "conversions": 156,
            "n": 1721,
            "prop": 0.0906449738524114
          },
          "6972": {
            "ci": [
              0.08959949656987869,
              0.11863579754776836
            ],
            "conversions": 177,
            "n": 1700,
            "prop": 0.10411764705882352
          },
          "7057": {
            "ci": [
              0.07460314870989626,
              0.10162393585544968
            ],
            "conversions": 149,
            "n": 1691,
            "prop": 0.08811354228267297
          }
        }
      },
      "variants": [
        {
          "id": "7057",
          "number_of_purchases": 149
        },
        {
          "id": "6971",
          "number_of_purchases": 156
        },
        {
          "id": "6972",
          "number_of_purchases": 177
        }
      ],
      "winner": "6972"
    }
  }
}

API Response:
{'results': {'filters/sort-by-ranking': {'checks': {'experiment_independence': True, 'num_of_variants': 3, 'sample_size_adequacy': {'6971': True, '6972': True, '7057': True}, 'user_independence': False, 'variations': {'6971': 0.08242846256770704, '6972': 0.09327716262975778, '7057': 0.08034954594907258}}, 'number_of_participants': 4972, 'statistical_tests': {'anova': {'f_value': 1.4728887568743896, 'p_value': 0.22935957817214545}, 'chi_square': {'chi2': 2.945808759655443, 'p_value': 0.22925866306676915, 'significant_difference': False}, 'pairwise_comparisons': [{'effect': 0.0025314315697384238, 'p_value': 0.7955872106561199, 'variant1': '7057', 'variant2': '6971'}, {'effect': 0.01600410477615055, 'p_value': 0.11392687185731876, 'variant1': '7057', 'variant2': '6972'}, {'effect': 0.013472673206412128, 'p_value': 0.18405781482929817, 'variant1': '6971', 'variant2': '6972'}], 'tukey_hsd': [['6971', '6972', 0.0135, 0.3685, -0.01, 0.0369, False], ['6971', '7057', -0.0025, 0.9653, -0.026, 0.0209, False], ['6972', '7057', -0.016, 0.248, -0.0395, 0.0075, False]], 'variant_results': {'6971': {'ci': [0.07708070917071888, 0.10420923853410391], 'conversions': 156, 'n': 1721, 'prop': 0.0906449738524114}, '6972': {'ci': [0.08959949656987869, 0.11863579754776836], 'conversions': 177, 'n': 1700, 'prop': 0.10411764705882352}, '7057': {'ci': [0.07460314870989626, 0.10162393585544968], 'conversions': 149, 'n': 1691, 'prop': 0.08811354228267297}}}, 'variants': [{'id': '7057', 'number_of_purchases': 149}, {'id': '6971', 'number_of_purchases': 156}, {'id': '6972', 'number_of_purchases': 177}], 'winner': '6972'}}}

In [19]:
from modules.data_processing.data_loader import load_and_process_data
from modules.ab_testing.ab_test_analyzer import ABTestAnalyzer

In [17]:
filter_date = datetime.strptime("2021-08-02", "%Y-%m-%d")
experiment = "filters/sort-by-ranking"

df = load_and_process_data(experiment, filter_date)

In [20]:
analysis = ABTestAnalyzer(df)

In [21]:
analysis.determine_winner()

{'winner': '6972',
 'tests': {'p_value': np.float64(0.2292586630667692),
  'significant_difference': np.False_,
  'variant_results': {'7057': {'prop': np.float64(0.08811354228267297),
    'ci': [np.float64(0.07460314870989626), np.float64(0.10162393585544968)],
    'n': 1691,
    'conversions': 149},
   '6971': {'prop': np.float64(0.0906449738524114),
    'ci': [np.float64(0.07708070917071888), np.float64(0.10420923853410391)],
    'n': 1721,
    'conversions': 156},
   '6972': {'prop': np.float64(0.10411764705882352),
    'ci': [np.float64(0.08959949656987869), np.float64(0.11863579754776836)],
    'n': 1700,
    'conversions': 177}},
  'anova': {'f_value': 1.4728887568744018, 'p_value': 0.22935957817216424},
  'tukey_hsd': [['6971',
    '6972',
    np.float64(0.0135),
    np.float64(0.3685),
    np.float64(-0.01),
    np.float64(0.0369),
    np.False_],
   ['6971',
    '7057',
    np.float64(-0.0025),
    np.float64(0.9653),
    np.float64(-0.026),
    np.float64(0.0209),
    np.False_],
   ['6972',
    '7057',
    np.float64(-0.016),
    np.float64(0.248),
    np.float64(-0.0395),
    np.float64(0.0075),
    np.False_]],
  'pairwise_comparisons': [{'variant1': '7057',
    'variant2': '6971',
    'effect': np.float64(0.0025314315697384238),
    'p_value': np.float64(0.7955872106561199)},
   {'variant1': '7057',
    'variant2': '6972',
    'effect': np.float64(0.01600410477615055),
    'p_value': np.float64(0.11392687185731876)},
   {'variant1': '6971',
    'variant2': '6972',
    'effect': np.float64(0.013472673206412128),
    'p_value': np.float64(0.18405781482929817)}],
  'chi_square': np.float64(2.945808759655443)}}